@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300; 
}
h1, h2, h3, h4, h5, h6{
    font-family: "Roboto Condensed"
  }
  
  h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
    color: white;
    text-shadow: #020819 8px -20px 9px;
  }
  
  h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
  }
  
  h4 {
    font-size: 2em;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
    line-height: 2em;
  }
  
  h5 {
    font-size: 3em;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h6{
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;

  }
.p-size{
    font-family: "Roboto Condensed";
    font-size: 1.5em;
}
    
  

nav{
    background-color: 	#00ffff;
}
.navbar{
    font-size: 2em;

}
.navbar-brand{
    padding-left: 50px;
    color: black;
}
/* does not work */
.navbar-collapse{
    color: black;
}
.navbar-nav li{
    padding-left: 30px;
}
.carousel-caption p, h5{
    color: white;
}
.img-size{
    height: 35vw;
}
#general{ 
    background-color: red;
}
#general-information{
    color: #00ffff;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

.container-icon {
    background-color: yellow;
    margin: 0 3%;
    padding: 75px 0;
  }
  .text {
    background-color: brown;
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-btn {
    background-color: rgb(67, 163, 230);
    color: white;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
  }
  .general-two{
      background-color: bisque;
      padding: 100px;
  }
 hr{
     width: 90%;
 }
 .general-two > h5{
     color: black;
 }
 .img-container-body{
     display: flex;
     justify-content: space-evenly;
     margin: 2vh 2vw;
 }
 .img-container{
     padding-top: 25px;
     width: 300px;
     height: 250px;
     margin: 25px 15px;
     padding: 25px 15px;
 }
 .img-con{
     background-color: red;
    width: 300px;
     height: 250px;
     margin: 25px 0;
     
 }
 .img-container > a{
     text-decoration: none;
     color: black;
 }
 .img-container > p{
     font-size: 1em;
     color: red;
 }
 /*
 .img-container > h4{
     font-size: 2em;
     line-height: normal;
 }  */
 
.footer{
    display: flex;
    justify-content: space-between;
}
 .col-sm-4 > p, a{
     font-size: 1.5em;
     text-decoration: none;
     color: black;
 }
 .col-sm-4 ul {
    list-style-type: none;
 }
 .col-sm-4 ul li >a {
     font-size: 1.5em;
     text-decoration: none;
 
     color: black;
 }